{% extends "panel/base.html" %}
{% block title %}Тоглоом{% endblock title %}
{% block heading %}
  {% if object %}Засах: {{ object.name }}{% else %}Тоглоом нэмэх{% endif %}
{% endblock heading %}
{% block content %}
  <div class="panel-card form-card">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Хадгалах</button>
      <a href="{% url 'panel:game_list' %}" class="btn btn-outline-secondary">Болих</a>
    </form>
  </div>
{% endblock content %}
